/* Portfolio About Contact */
body {
  font-family: Poppins;
  background: #F2F2F2;
  color: #000;
}

main {
  margin: 10%;
}


nav a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
}

a.navbar-brand {
  color: #F9855B;
}

h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
}

h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 105.3%;
}

h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 105.3%;
}

h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #525252;
}


p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #727274;
}

span {
  font-size: 16px;
  line-height: 212.5%;
  color: #727274
}

.btn {
  padding: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 105.3%;
  text-align: center;
  color: #FFFFFF;
  background: #F9855B;
}

.contact {
  margin: 0;
  text-align: center;
  background: #F9855B;
  color: #FFF;
}

.contact p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFF;
}

.contact button {
  background: #000000;
  border: 1px solid #000000;
  box-sizing: border-box;
}

footer {
  background: #F9855B;
  color: #FFF;
}

footer span {
  background: #F9855B;
  color: #FFF;
}

.fab {
  font-size: 24px;
  color: #F9855B;
}

.card-img-top {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(image.png);
}
