nav {
    background-color: #3700b3;
    color: #FFF;
  }
  
  nav a {
    color: #FFF;
  }

  nav a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
  }
  
  nav a:hover {
    color: #FFF;
  }
  
  a.navbar-brand {
    color: #FFF;
  }